
body{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    background-color: rgb(79, 79, 79);
}
.dashsider{
    width: 200px;
    background-color: rgb(35, 35, 54);
    height: calc(100vh - 80px);
    position: fixed;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    top: 60px;
    overflow: scroll;
    padding: 10px;
}
.dashsider button{
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    border: none;
    font-size: 15px;
}
.dashsider button:hover{
    background-color: transparent;
    background-image: linear-gradient(45deg, red, orange);
}
.dashsider button > span{
    margin-top: 5px;
    background-color: rgba(0, 255, 255, 0);
    height: 30px;
    margin-right: 10px;
}
.dashsider button > p{
    background-color: rgba(0, 255, 255, 0);
    height: 30px;
    margin-top: 9px;
    display: flex;
    place-content: center;
}
.dashsider > div{
    background-color: rgba(0, 255, 255, 0);
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.64);
    padding-bottom: 10px;
}
.dashsider h1{
    color: aliceblue;
    font-size: 18px;
}
.dashheader{
    background-color: rgb(35, 35, 54);
    display: flex;
    flex-direction: row;
    height: 60px;
    place-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid grey;
}
.dashheader .logo{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    color: orangered;
    /* background-color: blue; */
    height: 60px;
    width: 270px;
}
.dashheader .logo > h1{
    font-size: 30px;
    /* background-color: rgb(166, 255, 0); */
    height: 30px;
    margin-top: 15px;
}
.dashheader .logo > img{
    margin-top: 15px;
}
